

.article{
    background-color:black;
    color: fuchsia;
    justify-content: center;
    text-align: center;
    padding-right: 100px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1px;
}


.Prix{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Pr1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.touches
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boutonmoins{
    margin: 3px;
    border-radius: 50%;
    border-color: fuchsia;
}

.quantité
{
    margin: 3px;
    border-radius: 50%;
    border-color: fuchsia;
}

.boutonplus{
    margin: 3px;
    border-radius: 100%;
    border-color: fuchsia;
}

body{
    background-color: lightpink;
}

.Prix{
margin-bottom: 5px;
padding-bottom: 5px;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nom{
    display: flex;
    justify-content: space-around;
}

ul{
    display: flex;
    list-style: none;
    float: right;
    margin-top: 40px;
    padding: 20px;
}

ul li a{
    text-transform: lowercase;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid rgb(192, 28, 88);
    color: deeppink;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul li a :hover {
    color:rgb(161, 133, 133);
    background: rgb(161, 133, 133);

}

.box{
    margin-left: 35%;
    margin-bottom: 25px;
}